$primary-color: #FF0101;
$secondary-color: #FF0000;
$backgroundLight: #020203;
$backgroundDark: #FBFBFB;
$black: #000000;
$white: #FFFFFF;
$lightDark: #282d30;
$lightGrey: #74798c;

$font-size: 1rem;
$breakpoints : (desktop: 1440px,
    //desktop: 1024px,

);